@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
header {
  background-color: #0078d7;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5em;
}

label{
  transition: 0.5s;
}
p{
  transition: 0.5s;
}

#title{
  font-family: 'Pacifico';
  font-weight: 100;
  font-size:2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  gap: 1em;
  width: 100%;
}

.stylesContainer
{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.colourListItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 0.3em;
}


.colourInput{
  width:3em;
  height: 3em;
  border-radius: 50%;
  background-color: red;
}

#colourLabel1{
  background-color: pink;
}

.colourIn{
  visibility: hidden;
}


#colour1{
  fill:pink;
}

#linkText{
  font-style:italic;
  text-decoration: underline;
}

ul{
  list-style-type: none;
}
.innerContainer
{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  margin: 1em;
  background-color: aliceblue;
}

.dropdown--span {
  display: flex;
  gap: 1em;
  align-items: center;
}

#dropdown {
  height: 2.5em;
  width: 20em;
  cursor: pointer;
  border-radius: 0.375em; 
}

.add-preference--btn {
  width: 12em; 
  height: 2.5em; 
  border: 0.125em solid rgba(206, 204, 204, 0.727); 
  border-radius: 0.375em; 
  color: black;
  cursor: pointer;
}

.save-preference--btn{
  width: 12em; 
  height: 2.5em; 
  border: 0.125em solid rgba(206, 204, 204, 0.727); 
  border-radius: 0.375em; 
  color: black;
  cursor: pointer;
}

.delete-preference--btn{
  width: 12em; 
  height: 2.5em; 
  border: 0.125em solid rgba(206, 204, 204, 0.727); 
  border-radius: 0.375em; 
  color: black;
  cursor: pointer;
}

.fontSelectorContainer {
  display: flex;
  gap: 1em;
  align-items: center;
}

#fontDropdown {
  height: 2.5em;
  width: 20em;
  cursor: pointer;
  border-radius: 0.375em; 
}
